# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/docPapito/
allure-results/

# Jenkins
jenkins_home/

# Allure
allure-reports/

# Database
postgres_data/